*{
    margin: 0;
    padding: 0;
}

page-template{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.spaced-item{
    margin-right: 2rem;
}

button.navbar-toggler{
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    border: var(--bs-navbar-toggler-border-width) solid var(--bs-navbar-toggler-border-color);       
}

.main_container{
    padding: 20px;
    height: 92vh;
    width: 100vw;
    display: flex;
    background-image: linear-gradient(45deg, #2e0854, #4b0082, #6a0dad, #7b1fa2);
}

.button-container {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.custom-button {
    height: 80px;
    width: 245px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color:#4b0082;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.button-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.button-text {
    font-size: 23px;
    font-weight: bold;
}

.custom-btn {
    --bs-btn-color: #7b2cbf;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7b2cbf;
    --bs-btn-hover-border-color: #7b2cbf;
    --bs-btn-active-bg: #5a189a;
}

.title-mh{
    color: #fff;
}

.grafico{
    background-image: linear-gradient(45deg, #5e1a77, #6200a4, #6a0a8f, #2e0854);
    
    color: #fff;
}